/* Start Variables */

:root {
  --main-color: #ff6600;
  --title-color: #44425a;
  --para-color: #6c6a74;
  --section-pad: 100px;
  --para-space: 1.2;
  --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Component */

.main-title {
  text-align: center;
  margin-bottom: 50px;
}

.main-title h5 {
  font-size: 20px;
  color: var(--main-color, #ff6600);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.main-title h1 {
  font-size: 39px;
  color: var(--title-color, #44425a);
  font-weight: 700;
}

/* End Component */

/* Start Header */

header {
  position: relative;
}

header .main-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}

@media (max-width: 991px) {
  header .main-bar {
    justify-content: space-between;
  }
}

.main-bar .logo a {
  font-size: 39px;
  color: var(--title-color, #44425a);
  font-weight: 700;
  display: block;
}

.main-bar .logo a::first-letter {
  color: var(--main-color, #ff6600);
}

.main-bar .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .main-bar .item {
    display: none;
  }
}

.main-bar .item .icon {
  font-size: 35px;
  color: var(--main-color, #ff6600);
  margin-right: 15px;
}

.main-bar .item h6 {
  font-size: 16px;
  color: var(--title-color, #44425a);
  font-weight: 600;
  margin: 0 0 10px;
}

.main-bar .item p {
  color: var(--para-color, #6c6a74);
  font-size: 13px;
}

.main-bar .menu {
  position: relative;
}

@media (min-width: 991px) {
  .main-bar .menu {
    display: none;
  }
}

.main-bar .menu .menu-icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.main-bar .menu i {
  font-size: 30px;
  cursor: pointer;
  color: var(--para-color, #6c6a74);
}

.main-bar .menu ul {
  position: absolute;
  top: 100%;
  width: 120px;
  left: -65px;
  background-color: white;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  z-index: -1;
  opacity: 0;
}

.main-bar .menu:hover ul {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  z-index: 1;
  opacity: 1;
}

.main-bar .menu ul a {
  display: block;
  padding: 10px;
  text-align: center;
  color: var(--title-color, #44425a);
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.main-bar .menu ul a:hover {
  color: var(--main-color, #ff6600);
}

.alt-bar {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-top: 1px solid #f2f1f8;
}

@media (max-width: 991px) {
  .alt-bar {
    display: none;
  }
}

.alt-bar .sub {
  background-color: #f2f1f8;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--main-color, #ff6600);
  width: 230px;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.alt-bar .sub:hover {
  background-color: #d2cfe7;
}

.alt-bar .sub ul {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: white;
  color: var(--title-color, #44425a);
  display: none;
  z-index: 1;
}

.alt-bar .sub:hover ul {
  display: block;
}

.alt-bar .sub ul li {
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #f2f1f8;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.alt-bar .sub h3 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.alt-bar .sub h3::after,
.alt-bar .list li.ok::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.alt-bar .list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-bar .list ul.main-list {
  display: flex;
  height: 100%;
  align-items: center;
}

.alt-bar .list ul.main-list > li > a {
  display: block;
  padding: 0 20px;
  color: var(--title-color, #44425a);
  font-size: 18px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.alt-bar .list ul.main-list > li > a:hover,
.alt-bar .sub ul li:hover {
  color: var(--main-color, #ff6600);
}

.alt-bar .list ul.main-list li.ok {
  position: relative;
}

.alt-bar .list li.ok:hover:after {
  color: var(--main-color, #ff6600);
}

.alt-bar .list ul.main-list li.ok i {
  margin-left: 10px;
}

.alt-bar .list .sub-list {
  background-color: white;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  display: none;
  width: 135px;
  z-index: 1;
}

.alt-bar .list ul.main-list li.ok:hover .sub-list {
  display: block;
}

.alt-bar .list .sub-list a {
  display: block;
  padding: 10px 15px;
  color: var(--title-color, #44425a);
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.alt-bar .list .sub-list a:hover {
  color: var(--main-color, #ff6600);
}

.alt-bar a.join {
  display: block;
  background-color: var(--main-color, #ff6600);
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.alt-bar a.join:hover {
  background-color: #d95700;
}

/* End Header */

/* Start Landing */

.landing {
  height: 100vh;
  background-image: url(../photos/Landing.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: white;
}

.landing .text h5 {
  font-size: 20px;
  font-weight: 500;
}

.landing .text h1 {
  font-size: 68px;
}

@media (max-width: 991px) {
  .landing .text h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .landing .text h1 {
    font-size: 50px;
  }
}

@media (max-width: 325px) {
  .landing .text h1 {
    font-size: 40px;
  }
}

.landing .text a {
  background-color: var(--main-color, #ff6600);
  color: white;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.landing .text a:hover {
  background-color: #d95700;
}

/* End Landing */

/* Start About */

.about {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .about .container {
    flex-direction: column;
    justify-content: center;
  }
}

.about .image {
  flex-basis: 40%;
}

@media (max-width: 991px) {
  .about .image {
    width: 90%;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .about .image {
    width: 100%;
  }
}

.about .image img {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.about .text {
  flex-basis: 55%;
}

@media (max-width: 991px) {
  .about .text {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .about .text {
    width: 100%;
  }
}

.about .text .main-title {
  text-align: left;
  margin-bottom: 0;
}

.about .text p {
  color: var(--para-color, #6c6a74);
  line-height: 1.5;
  margin-bottom: 10px;
}

.about .text a {
  font-weight: 600;
  background-color: var(--main-color, #ff6600);
  color: white;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.about .text a:hover {
  background-color: #d95700;
}

/* End About */

/* Start Category */

.category {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.category .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.category .box {
  flex-basis: calc((100% - 80px) / 4);
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .category .box {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media (max-width: 768px) {
  .category .box {
    flex-basis: 75%;
    margin: 0 auto 30px;
  }
}

@media (max-width: 576px) {
  .category .box {
    flex-basis: 100%;
  }
}

.category .box img {
  width: 100%;
  vertical-align: top;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.category .box:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.category .box .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 40%);
}

.category .box .text h4 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* End Category */

/* Start Courses */

.courses {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.courses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.courses .box {
  flex-basis: calc((100% - 30px) / 3);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  background-color: #f2f1f8;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .courses .box {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media (max-width: 768px) {
  .courses .box {
    flex-basis: 70%;
    margin: 0 auto 30px;
  }
}

@media (max-width: 576px) {
  .courses .box {
    flex-basis: 100%;
  }
}

.courses .box img {
  width: 100%;
}

.courses .box i {
  color: var(--main-color, #ff6600);
  margin-right: 2px;
  font-size: 16px;
}

.courses .box .bar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses .box .bar span {
  font-size: 12px;
  color: var(--para-color, #6c6a74);
}

.courses .box a {
  display: block;
  font-size: 20px;
  color: var(--title-color, #44425a);
  padding: 15px 25px;
  line-height: 1.2;
  font-weight: 500;
}

.courses .box a:hover {
  color: var(--main-color, #ff6600);
  text-decoration: underline;
}

.courses .box .rate {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color, #44425a);
  font-size: 20px;
  position: relative;
}

.courses .box .rate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: #dee2e6;
}

/* End Courses */

/* Start Registration */

.regis {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  background-image: url(../photos/registration.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.regis::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
}

.regis .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .regis .container {
    flex-direction: column;
  }
}

.regis .text {
  color: white;
  flex-basis: 55%;
}

@media (max-width: 991px) {
  .regis .text {
    width: 90%;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .regis .text {
    width: 100%;
  }
}

.regis .text .main-title {
  text-align: left;
  margin-bottom: 10px;
}

.regis .text .main-title h1 {
  color: white;
}

.regis .text p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.regis .text ul li {
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
}

.regis .text ul li::before {
  content: "\f00c";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--main-color, #ff6600);
}

.regis .form {
  flex-basis: 43%;
  background-color: var(--main-color, #ff6600);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .regis .form {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .regis .form {
    width: 100%;
  }
}

.regis .form h1 {
  background-color: white;
  margin: 0;
  text-align: center;
  padding: 20px 0;
  color: var(--title-color, #44425a);
  font-size: 39px;
}

.regis .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.regis .form form input,
.regis .form form select {
  display: block;
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
}

.regis .form form input:focus,
.regis .form form select:focus {
  outline: none;
}

.regis .form form button {
  background-color: var(--title-color, #44425a);
  border: none;
  color: white;
  display: block;
  margin-top: 10px;
  width: 70%;
  padding: 20px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.regis .form form button:hover {
  background-color: #333244;
}

/* End Registration */

/* Start Teachers */

.teachers {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.teachers .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.teachers .member {
  flex-basis: calc((100% - 95px) / 4);
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .teachers .member {
    flex-basis: calc((100% - 40px) / 2);
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .teachers .member {
    flex-basis: 70%;
    margin: 0 auto 40px;
  }
}

@media (max-width: 576px) {
  .teachers .member {
    flex-basis: 90%;
  }
}

.teachers .member .image {
  position: relative;
}

.teachers .member .layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(68 66 90 / 72%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.teachers .member:hover .layer {
  opacity: 1;
}

.teachers .member .layer .icon {
  color: white;
  border: 1px solid white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  cursor: pointer;
}

.teachers .member .layer .icon:hover {
  background-color: white;
  color: black;
}

.teachers .member img {
  width: 100%;
  vertical-align: top;
}

.teachers .member .text {
  background-color: #f2f1f8;
  padding: 30px 0;
  text-align: center;
}

.teachers .member .text h5 {
  font-size: 20px;
  color: var(--title-color, #44425a);
  font-weight: 500;
  margin-bottom: 20px;
}

.teachers .member .text p {
  color: var(--para-color, #6c6a74);
}

/* End Teachers */

/* Start Testimonial */

.testimonial {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.testimonial .container {
  text-align: center;
}

.testimonial .icon {
  font-size: 85px;
  color: var(--main-color, #ff6600);
}

.testimonial p {
  color: var(--title-color, #44425a);
  font-size: 23px;
  line-height: 1.5;
  width: 70%;
  margin: 0 auto 30px;
}

.testimonial .info img {
  width: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto 20px;
}

.testimonial .info h5 {
  color: var(--title-color, #44425a);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.testimonial .info span {
  color: var(--para-color, #6c6a74);
}

.testimonial nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.testimonial nav div {
  width: 20px;
  height: 20px;
  background-color: var(--main-color, #ff6600);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
  border: 3px solid white;
  outline: 2px solid var(--main-color, #ff6600);
  cursor: pointer;
}

.testimonial nav div.active {
  background-color: var(--title-color, #44425a);
}

/* End Testimonial */

/* Start Blog */

.blog {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.blog .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.blog .item {
  flex-basis: calc((100% - 60px) / 3);
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 991px) {
  .blog .item {
    flex-basis: 70%;
    margin: 0 auto 30px;
  }
}

@media (max-width: 576px) {
  .blog .item {
    flex-basis: 90%;
  }
}

.blog .item img {
  width: 100%;
  vertical-align: top;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.blog .item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.blog .item .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(rgba(68, 66, 90, 0), #44425a);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px 25px;
}

.blog .item .text h5 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.blog .item .text p {
  color: var(--main-color, #ff6600);
}

/* End Blog */
