/* Start Variables */

:root {
  --main-color: #ff6600;
  --title-color: #44425a;
  --para-color: #6c6a74;
  --section-pad: 100px;
  --para-space: 1.2;
  --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* start Comp */

.comp {
  height: 300px;
  background-size: cover;
  background-image: url(../photos/page-header.jpg);
  background-position: center center;
  position: relative;
}

.comp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}

.comp .container {
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.comp h3 {
  font-size: 54px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.comp p a,
.comp p span {
  text-transform: uppercase;
}

.comp p a,
.comp p i {
  color: white;
  margin-right: 10px;
}

.comp p a:hover {
  text-decoration: underline;
}

/* End Comp */

/* Start Blog list */

.blog-list,
.blog-detail {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.blog-list > .container,
.blog-detail > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 991px) {
  .blog-list > .container,
  .blog-detail > .container {
    flex-direction: column;
  }
}

.blog-list .left,
.blog-detail .left {
  flex-basis: 67%;
}

@media (max-width: 991px) {
  .blog-list .left,
  .blog-detail .left {
    margin-bottom: 40px;
  }
}

.blog-list .blog {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.blog-list .blog .item {
  flex-basis: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .blog-list .blog .item {
    flex-basis: 70%;
  }
}

@media (max-width: 576px) {
  .blog-list .blog .item {
    flex-basis: 90%;
  }
}

.blog-list .left nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list .left nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 1px solid #dee2e6;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.blog-list .left nav ul li {
  padding: 20px;
  color: var(--main-color, #ff6600);
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 576px) {
  .blog-list .left nav ul li {
    padding: 20px 15px;
  }
}

.blog-list .left nav ul li:not(li.active):hover {
  background-color: #e9ecef;
  color: #b34700;
}

.blog-list .left nav ul li.active {
  background-color: var(--main-color, #ff6600);
  color: white;
}

.blog-list .left nav ul li:not(li:first-of-type) {
  border-left: 1px solid #dee2e6;
}

.blog-list .right,
.blog-detail .right {
  padding: 0 10px;
  flex-basis: 32%;
}

.blog-list .right .user,
.blog-detail .right .user {
  background-color: var(--title-color, #44425a);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 50px 10px;
  text-align: center;
}

.blog-list .right .user img,
.blog-detail .right .user img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.blog-list .right .user h3,
.blog-detail .right .user h3 {
  color: var(--main-color, #ff6600);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
}

.blog-list .right .user p,
.blog-detail .right .user p {
  line-height: 1.5;
  color: white;
}

.blog-list .right .serach,
.blog-detail .right .serach {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.blog-list .right .serach input,
.blog-detail .right .serach input {
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid #ced4da;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.blog-list .right .serach input:focus,
.blog-detail .right .serach input:focus {
  outline: none;
}

.blog-list .right .serach input::placeholder,
.blog-detail .right .serach input::placeholder {
  font-size: 20px;
}

.blog-list .right .serach .icon,
.blog-detail .right .serach .icon {
  border: 1px solid #ced4da;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.blog-list .right .th,
.blog-detail .right .th {
  margin-top: 40px;
}

.blog-list .right h3:not(.user h3),
.blog-detail .right h3:not(.user h3) {
  color: var(--title-color, #44425a);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}

.blog-list .right .cat ul,
.blog-detail .right .cat ul {
  margin-top: 20px;
}

.blog-list .right .cat ul li,
.blog-detail .right .cat ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.blog-list .right .cat ul li:not(li:last-of-type),
.blog-detail .right .cat ul li:not(li:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.blog-list .right .cat ul li a,
.blog-detail .right .cat ul li a {
  color: var(--title-color, #44425a);
  font-weight: 500;
  display: block;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.blog-list .right .cat ul li a:hover,
.blog-detail .right .cat ul li a:hover {
  color: #b34700;
}

.blog-list .right .cat ul li span,
.blog-detail .right .cat ul li span {
  width: fit-content;
  color: white;
  background-color: var(--main-color, #ff6600);
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.blog-list .right .post,
.blog-detail .right .post {
  margin-top: 30px;
  display: flex;
}

.blog-list .right .post img,
.blog-detail .right .post img {
  width: 80px;
  height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-right: 10px;
}

.blog-list .right .post h6,
.blog-detail .right .post h6 {
  font-weight: 500;
  color: var(--title-color, #44425a);
  font-size: 16px;
  margin-bottom: 5px;
}

.blog-list .right .post p,
.blog-detail .right .post p {
  color: var(--main-color, #ff6600);
  font-size: 12px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.blog-list .right .post:hover p,
.blog-detail .right .post:hover p {
  color: #b34700;
}

.blog-list .right .tags .cont,
.blog-detail .right .tags .cont {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.blog-list .right .tags .cont a,
.blog-detail .right .tags .cont a {
  display: block;
  width: fit-content;
  padding: 10px;
  color: var(--main-color, #ff6600);
  border: 1px solid var(--main-color, #ff6600);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin: 0 5px 10px 0;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.blog-list .right .tags .cont a:hover,
.blog-detail .right .tags .cont a:hover {
  background-color: var(--main-color, #ff6600);
  color: white;
}

/* End Blog list */

/* Start Blog Detail */

.blog-detail .left .main-title {
  text-align: left;
}

.blog-detail .left .main-para img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.blog-detail .left .main-para p {
  color: var(--para-color, #6c6a74);
  line-height: var(--para-space, 1.5);
  margin-bottom: 15px;
}

.blog-detail .left .alt-para img {
  width: 40%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  float: left;
  margin: 0 20px 20px 0;
}

.blog-detail .left .alt-para p.sp {
  display: inline;
}

.blog-detail .left .alt-para p {
  color: var(--para-color, #6c6a74);
  line-height: var(--para-space, 1.5);
  margin-top: 20px;
}

.blog-detail .left .comments {
  margin-top: 40px;
}

.blog-detail .left .comments h3 {
  color: var(--title-color, #44425a);
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.blog-detail .left .comments .comm {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.blog-detail .left .comments .comm:last-of-type {
  padding: 10px 10px 10px 60px;
}

.blog-detail .left .comments .comm img {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}

.blog-detail .left .comments .comm h6 {
  color: var(--title-color, #44425a);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.blog-detail .left .comments .comm span {
  font-size: 12px;
  font-style: italic;
}

.blog-detail .left .comments .comm p {
  color: var(--para-color, #6c6a74);
  line-height: var(--para-space, 1.5);
  margin-bottom: 20px;
}

.blog-detail .left .comments .comm button {
  border: none;
  background-color: #dee2e6;
  color: var(--title-color, #44425a);
  text-transform: capitalize;
  padding: 7px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}

.blog-detail .left .app,
.contact .app {
  background-color: #f2f1f8;
  padding: 60px 30px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.blog-detail .left .app h3 {
  color: var(--title-color, #44425a);
  font-size: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 576px) {
  .blog-detail .left .app h3 {
    font-size: 24px;
  }
}

.blog-detail .left .app form,
.contact .app form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.blog-detail .left .app form label,
.contact .app form label {
  margin-bottom: 10px;
  color: var(--para-color, #6c6a74);
}

.blog-detail .left .app form input,
.blog-detail .left .app form textarea,
.contact .app form input,
.contact .app form textarea {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-bottom: 25px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.blog-detail .left .app form textarea,
.contact .app form textarea {
  height: 150px;
  resize: vertical;
}

.blog-detail .left .app form input:focus,
.contact .app form input:focus,
.blog-detail .left .app form textarea:focus,
.contact .app form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgb(255 102 0 / 25%);
}

.blog-detail .left .app form button,
.contact .app form button {
  background-color: var(--main-color, #ff6600);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  text-transform: capitalize;
}

.blog-detail .left .app form button:hover,
.contact .app form button:hover {
  background-color: #b34700;
}

/* End Blog Detail */

/* Start Contact */

.contact {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.contact .app {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .contact .app {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .contact .app {
    width: 100%;
  }
}

.contact .app form button {
  margin: 0 auto;
  padding: 20px 25px;
}

/* End Contact */
